ul {    list-style: none;   }
li:before { content: '> '}

.about-medify{
    width : 100%;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    padding-top  : 30px

}

.flex-container-mb{
    display : flex ;
    margin-left : 100px;
}

.mobile-container{
    height : 503px;

}

.firstmobile{
    position : relative;
    right : -35%;
}


.secondmobile{
    position : relative;
    bottom : 80%;
    z-index: 1;
}

.actualphonedisplay{
    position : relative;
    z-index: 1;
    top : -20px;
    right : 50%;
    border-radius : 15px 15px 0px 0px;
}
.medify-medify{
    margin-top : 0px;
}

.linkdownload{
    font-family: Lato;
font-size: 16px;
font-weight: 700;

}

.extension-num{
    width: 25.38px;
height: 17px;
padding: 15px 15.38px 15px 15px;
border-right: 1px solid #B4B4BE4D;
background : white;
margin-left :50px;
}

.phone-number{
    background : white;
    border : none;
    outline : none;

}

.arrow{
    position: relative;
    top : 10%;
    left : -10%;
}
.store{
    margin-top : 50px;
    display : flex;
    justify-content : space-evenly;
}


.about-links{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
display : flex;
flex-direction :column;
gap : 20px;

}

.socialhandle-links{
    background: #1B3C74;
    padding : 10px;
    color: #FFFFFF;
    text-align : left;
}


.about-links-main{
    padding-top : 50px;
    justify-content : space-evenly; 
}