.blognews{
    margin : 0px 125px;

}

.header-bn{
    color: #2AA7FF;
font-size: 16px;
font-weight: 600;

}

.header-bn-big{
font-size: 48px;
font-weight: 600;
color: #1B3C74;

}

.container-bn{
    width :100%;
    display :flex;
    flex-direction :row;
}

.innercontainer-bn{
    width: 363px;
height: 458px;
margin-right:12px;
padding: 0px 0px 20px 0px;
border-radius: 10px;
border: 1px solid #00000012
}

.medicaldate{
    text-align : start;
    font-family: Inter;
font-size: 17px;
font-weight: 500;
color: #77829D;
margin-left : 18px;
}

.suggestion-bn{
font-size: 18px;
font-weight: 500;
text-align: left;
color: #1B3C74;
margin-left : 18px;
}


.doctorsname{
    margin-left : 10px;
}