/* .herosection{
    width : 100%;  
} */

.hs-text-img{
    position: absolute;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    width : 100%;
    display : grid;
    grid-template-columns: repeat(auto-fit , minmax(650px, 1fr)); 

}

.hs-text{
    text-align: left;
    display: flex;
   flex-wrap: wrap;
   height : 200px;
   padding-left : 135px 
}

.hs-findonline{
font-size: 31px;
font-weight: 500;
letter-spacing: 0.02em;
color: #102851;

}
.hs-medicalcenter{
font-size: 56px;
font-weight: 700;
letter-spacing: 0.02em;
color: #000000;

}

.hs-center-color{
    color: #2AA7FF;

}

.hs-connect{
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.02em;
color: #5C6169;

}

.hs-centerbtn{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
width: Hug (177px)px;
height: Hug (48px)px;
padding: 12px 36px 12px 36px;
gap: 10px;
border-radius: 8px;
background: #2AA8FF;
color : white;
border:none;
}

.hs-modal{
            position: relative; 
            z-index: 1; /* Sit on top */
            top: 380px;
            width: 1170px;
            height: 375px;
            border-radius: 15px;
            background: #FFFFFF;
            box-shadow: 6px 6px 35px 0px #1028511C;
            padding : 54px 0px 0px;
            margin-left : 135px;

           
}

.hs-search{
    display : flex ;
    justify-content : space-around;
    

}

.hs-search-input{
    display :flex;
    align-items : center;
    width: 285px;
    height: 50px;
    border: 1px solid #F0F0F0;
    background: #FAFBFE;
    padding-left : 10px;

}

.hs-search-textinput{
    border : none ;
    outline : none;
    background: #FAFBFE;
    padding-left : 10px;
}

.hs-search-btn{
    display: flex;
    align-items : center;
    width: 121px;
    height: 50px;
    border-radius: 8px;
    color : white;
    background: #2AA8FF;

}

.searchbtn-icon{
    width: 20.8px;
 height: 20.8px;
 margin: 10px;
}

.hs-icons-text{
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.02em;
color: #102851;

}

.hs-icons-flexbox{
    display : flex;
    margin-left :30px;
    
}

.hs-icons-item{
    width: 203px;
    height: 153px;
    border-radius: 8px;
    background: #FAFBFE;
    margin : 10px;
    padding-top: 1em ;
}

.hs-icons-item:hover{

    background: #2AA7FF14;
    border: 1px solid #2AA7FF;
    cursor :pointer;
}

.hs-icons-item-img{
    width: 60px;
height: 60px;

}

.hs-icons-item-txt{
    color: #ABB6C7;

}