.navbar{
    display : flex;
    padding : 24px 135px;
    align-items : center;
    height : 40px;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);

}

.medify-icontext{
    display : flex;
    color: #2AA8FF;
    align-items : center;
    width : 100px;
    cursor: pointer;
} 

.vectorimg{
    width: 23px;
height: 23.02px;
background-color :#2AA8FF;

}

.medify-text{
font-size: 18px;
font-weight: 700;
letter-spacing: 0.02em;
margin-left : 2px

}


.mcontainer {
    width : 100%;
    display: flex;
    margin-left : 165px;
    align-items : center;
      
}

.flex-item{
    color: #102851;
font-size: 14px;
font-weight: 400;
line-height: 21px;
padding: 0px 20px;

}

.flex-item:hover{
    cursor: pointer;
}

.bookings-btn{
    width: Fixed (130px)px;
height: Fixed (40px)px;
padding: 10px;
border-radius: 8px ;
background: #2AA8FF;
color : white;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0.02em;


}


/* Media Query for screens smaller than 768px */
@media (max-width: 767px) {

    .navbar{
        display : flex;
        padding : 20px 20px;
        align-items : center;
        min-height : 250px;
    }

    .mcontainer {
        width : 100%;
        display : grid;
        grid-template-columns: repeat(auto-fit , minmax(150px, 1fr));
        margin-left : 20px;
        
    }

    .flex-item{
    padding: 5px 20px;
    
    }

}