.specialization{
    width: 1200px;
height: 617px;
background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
padding :56px 50px 56px 135px;
margin:0px;

}

.spez-header{
font-size: 48px;
font-weight: 600;
color: #1B3C74;
margin: 0px;
}

.spez-flexbox{
    margin : 62px 0px;
    display : grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap : 15px;
}

.spez-flexbox-item{
    width: 130px;
    height: 136px;
    padding: 22px 70px 22px 70px;
    border-radius: 10px;
    background-color : white;
    box-shadow: 0px 34px 44px 0px #D5DBE470;

}

.spez-flexbox-img{
    width: 80px;
height: 80px;
padding: 5px;
}

.spez-flexbox-text{
font-size: 18px;
font-weight: 500;
color: #ABB6C7;

}

.spez-view-btn{
    width: 147px;
    height: 50px;
    border-radius: 8px ;
    background: #2AA8FF;
    color: white;
    border : none;

}